@mixin clearfix {
  &::after {
    // Non si deve vedere
    content: "";
    // Visualizzazione standard
    display: table;
    // Pulisce il float right e float left
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MEDIA QUERY MANAGER
0 - 600px         Phone
600px - 900px     Tablet portrait
900px - 1200px    Tablet landscape
1200px - 1800px   Dove vengono applicati i nostri stili
1800px +          Big desktop
*/

/* $breakpoint
- phone
- tab-port
- tab-land
- big-desktop

ORDINE: base + typography > general layout + grid > page layout > components

1em = 16px
Per le Mediaquery usiamo em e non rem perchè la dimensione non viene presa dal root
font size ma dal font size del browser che di default è 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // Al posto di @content viene passato un intero blocco di codice
    @media only screen and (max-width: 37.5em) { @content };   // 600px la media query viene applicata solo allo schermo
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };   // 900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content };  // 1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };  // 1800px
  }
}
