.row {
  // Usando max-with anzichè with se il viewport si rimpicciolisce si occupa comunque il 100% dello spazio
  max-width: $grid-width; // di solito la dimensione di una griglia è di 1140px cioè 10rem
  // Mettendo il primo margine a 0 e l'altro auto i margini calcolati sono uguali e l'elemento viene centrato
  margin: 0 auto;
  // Mettendo not si seleziona tutti tranne
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;
  // Selettore di attributo: tutte le classi che iniziano con 'col-'
  [class^="col-"] {
    // Usando il Float Layout bisogna fare un fload a sinistra
    float: left;

    &:not(:last-child) { // Tutte le colonne hanno un margine tranne l'ultima
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }
  // Calcolo la larghezza della colonna con la funzione nativa calc
  .col-1-of-2 { // le colonne vengono usate dentro alla row
    // Per usare una variabile in Saas in una funzione devo usare la sintassi #{nome}
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    // Divido l'intera larghezza * 3 la scando 2 spazi laterali
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    // Divido l'intera larghezza * 3 la scando 2 spazi laterali
    width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
  }

  .col-1-of-4 {
    // Divido l'intera larghezza * 3 la scando 2 spazi laterali
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    // Divido l'intera larghezza * 3 la scando 2 spazi laterali
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
  }

  .col-3-of-4 {
    // Divido l'intera larghezza * 2 la scando 2 spazi laterali
    width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
  }
}
