// Ogni pagina ha il suo layout per quello che va creato un file a parte
.header {
  height: 85vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* GRACEFUL DEGRADATION: @supports per verificare se il browser supporta le propietà
    I valori inseriti in @support non interessano, servono solo per verificare
    il supporto della propietà, contano i valori impostati all'interno */
  // Per compatibilità, controllare sul sito: www.caniuse.com
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  // Con una risoluzione minima di 192dpi(risoluzione usata da Apple) esegue media-query
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), // Quando si ha una alta risoluzione e una larghezza minima di 600px
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), // Compatibilità con browser Safari
      only screen and (min-width: 125em) { // oppure(,) almeno 2000px
    background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../../img/hero.jpg);
  }

  &__logo-box { /* Block Model Element notation */
    position: absolute;
    top: 4rem; /* 40px; */
    left: 4rem; /* 40px; */
  }

  &__logo {
    height: 3.5rem; /* 35px; */
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
}
