.bg-video {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; // quando qualcosa va fuori dai magini si usa questa proprietà

  &__content {
    height: 100%;
    width: 100%;
    // object-fit e object-position hanno il controllo su un video u su un immagine come avviene con background-position and background-size
    object-fit: cover; // Copre l'intero contenuto del video
  }
}
