.popup {
    height: 100vh;
    width: 100%;
    position: fixed; // non si muove quando si fa lo scroll
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    // Nascondiamo il pop-up
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    backdrop-filter: blur(10px); // Applica uno sfondo
    /* GRACEFUL DEGRADATION: @supports per verificare se il browser supporta le propietà
      I valori inseriti in @support non interessano, servono solo per verificare
      il supporto della propietà, contano i valori impostati all'interno */
    // Per compatibilità, controllare sul sito: www.caniuse.com
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        // Avendo un altra trasform nel mixin absCenter per evitare che quest'ultima la rimpiazzi va ripetuta
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
    }

    &__left {
        width: 33.333333%;
        // Anzichè usare float: left; si definisce il padre come table e i figli come cell per avere stessa altezza
        display: table-cell;
    }

    &__right {
        width: 66.666666%;
        display: table-cell;
        //float: left;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;
        // Definiamo 2 colonne
        column-count: 2;
        // Con spazio di 4 rem tra una e l'altra(default 1em = default font-size = 14px in questo caso)
        column-gap: 4rem;
        // Con un border di un certo colore
        column-rule: 1px solid $color-grey-light-2;
        // Inserisce i trattini al fondo di una parola(va impostata la lingua nel html <html lang="en">)
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    // Popup Open
    &:target {
        opacity: 1;
        visibility: visible;
    }

    // Quando il popoup è il target applico stile al suo content
    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark-1;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }
}
