*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* si forza la proprietà box-sizing di essere eredidata */
}

html {
    /* Utilizzando i rem anzichè px la misura viene influenzata dal font-size
     Imposto il Route font-size in percentuale per non cambiare il font-size del browser = 16px, così 1 rem = 10px */
    font-size: 62.5%; /* 1rem = 10px, 16px(default)/10 = 62.5% */

    // L'ordine in cui vanno inserite le media query: prima quella più grande poi la più piccola(desktop first)
    @include respond(tab-land) { // with < 1200
      font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25
    }
    @include respond(tab-port) { // with < 900
      font-size: 50%; /* 1rem = 8px, 8/16 = 50 */
    }
    @include respond(big-desktop) {
      font-size: 75%; /// 1rem = 12px, 12/16 = 75
    }
}

body {
  box-sizing: border-box; /* Adesso sarà = border-box essendo forzata eredità */
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
// Colore del testo selezionato
::selection {
  background-color: $color-primary;
  color: $color-white;
}
